body{
    //background-image: url('../Image/Stocksy_comp_461838.jpg');
    overflow: hidden;
    background-position: center;
    background-size: cover;
}


.tremont{
    overflow-y: scroll;


    section.module.parallax {
        height: 610px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    
    section.module.parallax-1 { background-image: url("../Image/chefs.jpg"); }

    #container_header{
        font-size: 80px;
        position: relative;
        top:250px;
        color:white;
        opacity: 1;
    }
}

/*
.tremont_header{
    border-style:solid;
    //color:black;
}*/


#tremont_logo{
    font-size: 25px;
    position: relative;
    top:10px;
    color:white;

    a{
        text-decoration: none;
        color:white;
    }
}


#tremont_menu{
    position: relative;
    left:700px;
    top:-15px;

	top: 0;

    a{
        text-decoration: none;
        font-size:15px;
        padding:15px;
        color:white;
        }

    a:hover{
        color: yellow;
    }
}


.tremont_body{
        /*border-style:solid;
            color:black;*/
    position: relative;
    top:5px;
    height: 550px;
    

    #tremont_address,  #tremont_eat_drink_visit{
        text-align: center;
        position: relative;
        top:150px;
        color:white;
    }
   
    li{
        display: inline;
    }
    /*li:hover a:not(:hover){
        background-image: url('../Image/Stocksy_comp_461838.jpg'); 
    }*/
    
    a{
        text-decoration: none;
        font-size:65px;
        padding:25px;
        color:white;
        position: relative;
        top:20px;       
    }

    a:hover{
        text-decoration: underline;
        text-decoration-thickness: 5%;
    }
}

/*.tremont_header1{
    border-style:solid;
    color:black;
}*/


#tremont_logo1{
    font-size: 25px;
    position: relative;
    top:10px;
    color:black;

    a{
        text-decoration: none;
        color:black;
    }
}


#tremont_menu1{
    position: relative;
    left:700px;
    top:-15px;
    

    a{
        text-decoration: none;
        font-size:15px;
        padding:15px;
        color:black;
        }

    a:hover{
        color: yellow;
    }
}


.tremont_body1{
         /*border-style:solid;
            color:black;*/
    position: relative;
    top:5px;
    height: 850px;

    #tremont_heading{
        text-align: center;
        top:30px;
        font-size: 40px;
    }

    #tremont_subheading{
        text-align: center;
        position: relative;
        top:15px;
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
    }

    .tremont_wrapper {
      
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        position: relative;
        top:80px;
        left:80px;
        width:1000px;

        #tremont_wrapper_meal_title{
            font-size: 16px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
        }

        #tremont_wrapper_meal{
            position: relative;
            top:30px;
            left:65px;
            width:260px;

            #tremont_wrapper_meal_title, #tremont_wrapper_meal_desc{
                text-align: center;
            }
    
    
            #tremont_wrapper_meal_cost{
                position: relative;
                top:10px;
                text-align: center;
                left:15px;
                font-style: italic;
                width:200px;
            }

           
        }

       
      }
} 


.tremont_body2{
        /*border-style:solid;
            color:black;*/
    position: relative;
    top:40px;
    height: 450px;


    #tremont_heading{
        text-align: center;
        top:30px;
        font-size: 40px;
    }

    #tremont_subheading{
        text-align: center;
        position: relative;
        top:15px;
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
    }

    .tremont_wrapper {
      
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        position: relative;
        top:80px;
        left:80px;
        width:1000px;

        #tremont_wrapper_meal_title{
            font-size: 16px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
        }

        #tremont_wrapper_meal{
            position: relative;
            top:30px;
            left:65px;
            width:260px;

            #tremont_wrapper_meal_title, #tremont_wrapper_meal_desc{
                text-align: center;
            }
    
    
            #tremont_wrapper_meal_cost{
                position: relative;
                top:10px;
                text-align: center;
                left:15px;
                font-style: italic;
                width:200px;
            }

           
        }

       
      }
} 


.tremont_body3{
        /*border-style:solid;
            color:black;*/
    position: relative;
    top:5px;
    height:4488px;

    
    #tremont_heading{
        text-align: center;
        top:30px;
        font-size: 40px;
    }
    .tremont_image1{
        content:url(../Image/Green-Beans.jpg);
        height:400px;
        width:510px;
        position: relative;
        top:40px;
        left:0px;
    }
    .tremont_image2{
        content:url(../Image/Stocksy_comp_821143-crop.jpg);
        height:400px;
        width:818px;
        position: relative;
        top:-360px;
        left:509px;
    }

    .tremont_image3{
        content:url(../Image//Baking-Powder-Biscuits.jpg);
        height:800px;
        width:666px;
        position: relative;
        top:-360px;
        left:0px;
    }

    .tremont_image4{
        content:url(../Image/Cold-Tequila-Margarita-in-a-Glass.jpg);
        height:800px;
        width:667px;
        position: relative;
        top:-1160px;
        left:660px;
    }

    .tremont_image5{
        content:url(../Image/Postworkout_meal.jpg);
        height:800px;
        width:1327px;
        position: relative;
        top:-1160px;
        left:0px;
    }

    .tremont_image6{
        content:url(../Image/dessert.jpg);
        height:800px;
        width:666px;
        position: relative;
        top:-1160px;
        left:0px;
    }

    .tremont_image7{
        content:url(../Image/scallops.jpg);
        height:800px;
        width:667px;
        position: relative;
        top:-1960px;
        left:663px;
    }
    .tremont_image8{
        content:url(../Image/cheers.jpg);
        height:800px;
        width:1327px;
        position: relative;
        top:-1960px;
        left:0px;
    }

    .tremont_image9{
        content:url(../Image/soup.jpg);
        height:800px;
        width:1327px;
        position: relative;
        top:-1960px;
        left:0px;
    }
}


.tremont_body4{
     /*border-style:solid;
            color:black;*/
    position: relative;
    top:5px;
    height:600px;

    
    #tremont_heading{
        text-align: center;
        top:30px;
        font-size: 40px;
    }

    #tremont_subheading{
        text-align: center;
        position: relative;
        top:15px;
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
    }
   
    .tremont_reservation1{
        height: 490px;
        position: relative;
        top:20px;
      
        .tremont_booking{
             /*border-style:solid;
            color:black;*/
            width:645px;
            height: 460px;
            position: relative;
            left:10px;
            top:12.5px;

            #tremont_booking_header{
                font-size: 30px;
                position: relative;
                left:250px;
                top:5px;
            }

            #tremont_booking_date_time{
                 /*border-style:solid;
            color:black;*/
                position: relative;
                left:5px;
                top:5px;
                width:630px;
                height: 40px;

              #tremont_booking_date{
                position: relative;
                left:20px;
                top: 1px;
                font-weight: bold;
              }  
              #tremont_booking_date1{
                position: relative;
                left: -23px;
                top:18px;
                width: 200px;
              }

              #tremont_booking_time{
                position: relative;
                left:80px;
                top:0px;
                font-weight: bold;
              }

              #tremont_booking_time1{
                position: relative;
                left:40px;
                width: 199px;
                top:17px;
              }

             
            }

            #tremont_booking_peoples{
                 /*border-style:solid;
            color:black;*/
                position: relative;
                left:5px;
                top:25px;
                width:630px;
                height: 40px;

                #tremont_booking_people{
                    position: relative;
                    left:20px;
                    top:0px;
                    font-weight: bold;
                }

                #people{
                    position: relative;
                    left:-35px;
                    width: 517px;
                    top:17px;
                }
            }

            #tremont_booking_user_info{
                 /*border-style:solid;
            color:black;*/
                position: relative;
                left:5px;
                top:50px;
                width:630px;
                height: 200px;

                #tremont_booking_fname{
                    position: relative;
                    left:20px;
                    top:0px;
                    font-weight: bold;
                }

                #tremont_booking_fname1{
                    position: relative;
                    left: -66px;
                    top:18px;
                    width: 204px;
                }

                #tremont_booking_lname{
                    position: relative;
                    left:40px;
                    top:0px;
                    font-weight: bold;
                }

                #tremont_booking_lname1{
                    position: relative;
                    left:-45px;
                    width: 202px;
                    top:17px;
                }

                #tremont_booking_email{
                    position: relative;
                    left:20px;
                    top:50px;
                    font-weight: bold;
                }

                #tremont_booking_email1{
                    position: relative;
                    left: -29px;
                    top:68px;
                    width: 204px;
                }

                #tremont_booking_phone{
                    position: relative;
                    left:77px;
                    top:46px;
                    font-weight: bold;
                }

                #tremont_booking_phone1{
                    position: relative;
                    left:25px;
                    width: 202px;
                    top:67px;
                }

                #tremont_booking_comment{
                    position: relative;
                    left:-498px;
                    top:110px;
                    font-weight: bold;
                }

                #tremont_booking_comments{
                    position: relative;
                    left: -45px;
                    top:110px;
                    width: 512px;
                    height: 55px;
                }
            }

            #tremont_booking_subscribe{
                 /*border-style:solid;
            color:black;*/
                position: relative;
                left:5px;
                top:70px;
                width:630px;
                height: 40px;

                #subscribe{
                    position: relative;
                    left:20px;
                    top:15px;
                 
                }

                #subscribe1{
                    position: relative;
                    left:20px;
                    top:15px;
                }
            }

            .tremont_book_table{
                position: relative;
                left:5px;
                top:92px;
                width:630px;
                height: 40px;
                background-color: blue;
                border-radius: 5px;
                color: white;
                font-size: 20px;
            }

            .tremont_book_table:hover{
                background-color: red; 
            }
        }


        .tremont_booking_image{
            /*border-style:solid;
            color:black;*/
            width:645px;
            height: 494px;
            position: relative;
            left:661px;
            top:-453px;
            content:url(../Image/meal.jpg);
        }
    }

    /**/
}

.tremont_reservation{
    position: relative;
    top:70px;
    left:580px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    letter-spacing: 5px;
}


.tremont_reservation:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}


#tremont_line{
    position: relative;
    top:100px;
}


.tremont_footer{
         /*border-style:solid;
            color:black;*/
    position: relative;
    top:130px;
    height: 200px;

    .tremont_contact{
            /*border-style:solid;
            color:black;*/
        width:300px;
        position: relative;
        top:20px;
        left:20px;
        height: 150px;
        

        #tremont_contact_header{
            position: relative;
            left:110px;
            font-size: 20px;
            text-decoration: underline;
        }

        #tremont_contact_number{
            position: relative;
            left:45px;
            top:25px;
        }

        #tremont_contact_address{
            position: relative;
            left:-55px;
            top:60px;
        }

        #tremont_contact_address1{
            position: relative;
            left:105px;
            top:70px;
            width:50px;
        }

        #tremont_contact_email{
            position: relative;
            left:60px;
            top:100px;
            width:50px;
           
            a{
                color: gray;
                text-decoration: none;
            }

            a:hover{
                color:black;

            }
        }
    }

    .tremont_logo{
        /*border-style:solid;
        color:black;*/
        width:300px;
        position: relative;
        left:500px;
        bottom:135px;

        #tremont_logo_header{
            font-size: 33px;
        }
    }

    .tremont_hours{
        /*border-style:solid;
        color:black;*/
        width:300px;
        height: 150px;
        position: relative;
        left:1000px;
        bottom:180px;


        #tremont_hours_header{
            position: relative;
            left:110px;
            font-size: 20px;
            text-decoration: underline;
        }

        #tremont_hours_days{
            position: relative;
            left:45px;
            top:25px;
        }

        #tremont_hours_days1{
            position: relative;
            left:-62px;
            top:60px;
        }


        #tremont_hours_reservation{
            position: relative;
            left:97px;
            top:100px;
            width:50px;
           
            a{
                color: gray;
                text-decoration: none;
            }

            a:hover{
                color:black;

            }
    }
}
}


.tremont_footer1{
         /*border-style:solid;
            color:black;*/
    position: relative;
    top:10px;
    height: 200px;

    .tremont_contact{
             /*border-style:solid;
            color:black;*/
        width:300px;
        position: relative;
        top:20px;
        left:20px;
        height: 150px;
        

        #tremont_contact_header{
            position: relative;
            left:110px;
            font-size: 20px;
            text-decoration: underline;
        }

        #tremont_contact_number{
            position: relative;
            left:45px;
            top:25px;
        }

        #tremont_contact_address{
            position: relative;
            left:-55px;
            top:60px;
        }

        #tremont_contact_address1{
            position: relative;
            left:105px;
            top:70px;
            width:50px;
        }

        #tremont_contact_email{
            position: relative;
            left:60px;
            top:100px;
            width:50px;
           
            a{
                color: gray;
                text-decoration: none;
            }

            a:hover{
                color:black;

            }
        }
    }

    .tremont_logo{
            /*border-style:solid;
            color:black;*/
        width:300px;
        position: relative;
        left:500px;
        bottom:135px;

        #tremont_logo_header{
            font-size: 33px;
        }
    }

    .tremont_hours{
            /*border-style:solid;
            color:black;*/
        width:300px;
        height: 150px;
        position: relative;
        left:1000px;
        bottom:180px;


        #tremont_hours_header{
            position: relative;
            left:110px;
            font-size: 20px;
            text-decoration: underline;
        }

        #tremont_hours_days{
            position: relative;
            left:45px;
            top:25px;
        }

        #tremont_hours_days1{
            position: relative;
            left:-62px;
            top:60px;
        }


        #tremont_hours_reservation{
            position: relative;
            left:97px;
            top:100px;
            width:50px;
           
            a{
                color: gray;
                text-decoration: none;
            }

            a:hover{
                color:black;

            }
    }
}
}


.tremont_image{
    content:url(../Image/image-asset.jpeg);
    height:265px;
    width:1100px;
    position: relative;
    top:20px;
    left:120px;
}


.tremont_image_drink{
    content:url(../Image/image-drinks.jpeg);
    height:265px;
    width:1100px;
    position: relative;
    top:40px;
    left:120px;
}


.tremont_story{
         /*border-style:solid;
            color:black;*/
    position: relative;
    top:10px;
    height: 200px;
}

.tremont_team{
        /*border-style:solid;
            color:black;*/
    position: relative;
    top:20px;
    height: 700px;

    #tremont_team_header{
        font-size: 45px;
        position: relative;
        top:20px;
        text-decoration: underline;
    }
    * {
        box-sizing: border-box;
      }
      
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 350px;
        padding: 30px;
        height: 300px; /* Should be removed. Only for demonstration */
        position: relative;
        left:150px;
        top:40px;
        border-style:solid;
        color:black;

        .img{
            border-style:solid;
            color:black;
            position: relative;
            left:25px;
            top:-20px;
            height: 200px;
            width: 250px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          }

        #tremont_occupation{
            border-style:solid;
            color:black;
            width:150px;
            text-align: center;
            position: relative;
            left:75px;
            top:-25px;
            text-decoration: underline;
            font-weight: bolder;
        }

        #tremont_parag{
            border-style:solid;
            color:black;
            width:300px;
            text-align: center;
            position: relative;
            left:-5px;
            top: -30px;
            line-height: 5px;
        }
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
        padding: 10px;
       
      }
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

   
  }